a{
color: black;
font-size: 30px;
font-weight: bold;
}
.nav{
    margin: 10px 0;
}
/* image-resposive2{
    size: 20px;
} */

.logo{
    height: 60px;
    /* padding-right: 5px; */
    /* padding-left: 2px; */
}
ul{
    padding: 5px;
}